
body{
    background-color:rgb(2, 5, 59);
    
}
.navbar{
    background-color:rgba(242, 239, 247, 0.959);
    box-shadow: 10px 10px 10px rgb(128, 121, 121);
}
    .imagesbar{
    margin-top: 100px;
    width:190px;
    height: 250px;
    border-radius: 15%;
    margin: 5px 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imagesbar1{
    width:200px;
    height: 250px;
    border-radius: 15%;
    margin: 70px 30px; 
    box-shadow: 0 4px 8px 0 rgba(105, 99, 99, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainsection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(153, 142, 142);
    background-color: aliceblue;
}
.card{
    background-color: rgba(231, 233, 235, 0.87);
    width:250px;
    font-size: 20px;
    float:left;
    margin: 10px 50px; 
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.007), 0 6px 20px 0 rgba(0, 0, 0, 0.993);
}
    

.word{
    font-family:Impact, Haettenschweiler, 'Arial  Bold', sans-serif;
    font-size: 18px;
}
.card--image{
    width:250px;
    height: 200px;
   
}
.card--stats{
    display: flex;
}
.button{
    border-radius: 7px;
    background-color: rgb(25, 150, 118);
    color: aliceblue;
    border-color:white;
}

  .total{
    margin-top: 100px;
    background-color: aqua;
    
  }
  .para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
  }
  .footer{
    margin-top: 500px;
    position: absolute;
    right: 5px;
    color: aliceblue;
    }